body {
	/*background-image: url(http://fotonin.com/data_images/out/4/772194-coffee-wallpapers.jpg);*/
	background-color: #2a2a2a;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}

nav a {
	font-size: 1.2em;
	position: relative !important;
	display: inline-block !important;
	color: #fff !important;
	text-transform: capitalize;
}

nav a:hover, nav a:focus {
	text-decoration: none;
}

.navbar {
	min-height:30px !important;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important;
    padding-bottom:0 !important;
    height: 30px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
}

.nav-custom {
	background: #2a2a2a;
	border-bottom: 3px;
}

.cl-effect-13 a:hover, .cl-effect-13 a:focus {
    color: #ba7700 !important;
}

.cl-effect-13 a::before {
	top: 75%;
}

.svg-container {
	margin-top: 75px;
	width: 40%;
	height: 40%;
}