*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
	color: #ba7700 !important;
}

/* Effect 5: same word slide in */
.cl-effect-header a {
	overflow: hidden;
	padding: 0 4px;
	height: 1.5em;
}

.cl-effect-header a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-header a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-header a:hover span,
.cl-effect-header a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* Effect 13: three circles */
@media screen and (min-width: 768px) {
	.cl-effect a {
		/*font-weight: 700;*/
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
	}

	.cl-effect a::before {
		position: absolute;
		top: 55%;
		left: 50%;
		color: transparent;
		content: '•';
		text-shadow: 0 0 transparent;
		font-size: 0.8em;
		-webkit-transition: text-shadow 0.3s, color 0.3s;
		-moz-transition: text-shadow 0.3s, color 0.3s;
		transition: text-shadow 0.3s, color 0.3s;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		pointer-events: none;
	}

	.cl-effect a:hover::before {
		color: #fff;
		text-shadow: 10px 0 #fff, -10px 0 #fff;
	}

	.cl-effect a:focus {
		color: #fff !important;
	}
}

@media screen and (max-width: 767px) {
	/* Effect 21: borders slight translate */
	.cl-effect a {
		padding: 10px;
		color: #237546;
		/*font-weight: 700;*/
		text-shadow: none;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
	}

	.cl-effect a::before,
	.cl-effect a::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background: #fff;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		-moz-transition: opacity 0.3s, -moz-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	.cl-effect a::before {
		top: 0;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	.cl-effect a::after {
		bottom: 0;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		transform: translateY(10px);
	}

	.cl-effect a:hover,
	.cl-effect a:focus {
		color: #fff;
	}

	.cl-effect a:hover::before,
	.cl-effect a:focus::before,
	.cl-effect a:hover::after,
	.cl-effect a:focus::after {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
}

.cl-effect-1 a {
	padding: 8px 0;
}

.cl-effect-1 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(255,255,255,0.4);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
