.show-bg {
	opacity: 1;
}

.foreground-view {
	background-color: rgba(42,42,42,0.85);
}

.background-view {
	height: 100%;
	-webkit-transition: opacity 2s ease-out;
	-moz-transition: opacity 2s ease-out;
	-o-transition: opacity 2s ease-out;
    transition: opacity 2s  ease-out;
}

#bg1 {
	background-image: url(../resources/bg1.jpg);
}